
.new-cruise-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.new-cruise-item {
    width: 100%;
}


.new-cruise-card {
    max-width: 900px; 
    margin: 0 auto; 
    border: none;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 12px 35px rgba(0,0,0,.08);
    transition: all .3s ease;
    background: white;
}

    .new-cruise-card:hover {
        transform: translateY(-6px);
        box-shadow: 0 18px 45px rgba(0,0,0,.15);
    }


.new-cruise-img {
    width: 100%;
    max-width: 700px; 
    height: 380px; 
    object-fit: cover;
    display: block;
    margin: 0 auto; 
    border-radius: 18px;
}


.new-cruise-title {
    color: #072d4f;
    font-weight: 600;
}


.new-cruise-btn {
    display: block;
    width: auto;
    padding: 10px 28px;
    margin: 20px auto 0 auto;
    font-size: 1rem;
    border-radius: 30px;
}

/* MOBILE */
@media (max-width:768px) {

    .new-cruise-img {
        max-width: 100%;
        height: 260px; 
    }

    .display-5 {
        font-size: 2rem;
    }
}
